In [26]:
import sqlite3
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
);
""")

# Dữ liệu cần chèn vào bảng
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# chèn dữ liệu vào bảng
cursor.executemany("INSERT INTO nhanvien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", data)

# lưu thay đổi và đóng kết nối
for row in cursor.fetchall():
    print(row)
conn.commit()
conn.close()

In [ ]:
#3 lấy toàn bộ thông tin nhân viên
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
# In dữ liệu
for row in rows:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [10]:
# truy vấn HoTen và Tuoi của các nhân viên IT
cursor.execute("SELECT HoTen,Tuoi FROM nhanvien WHERE PhongBan='IT'")
results = cursor.fetchall()  
for result in results:
    print(result)

('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [11]:
#5 tìm nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM nhanvien where Tuoi >25")
for row in cursor.fetchall():
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [12]:
#hnhaan viên lớn tuổi nhất trong các phòng ban
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien 
    WHERE (PhongBan, Tuoi) IN (
        SELECT PhongBan, MAX(Tuoi) 
        FROM NhanVien 
        GROUP BY PhongBan
    )
""")
for row in cursor.fetchall():
    print(row)

('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [15]:
#chuyển đổi thông tin PhongBan của nhân viên 'Le Van C" sang "Marketing"
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
cursor.execute("SELECT * from nhanvien WHERE HoTen= 'Le Van C'")
conn.commit()
print(cursor.fetchall())

[(3, 'Le Van C', 28, 'Marketing')]

In [17]:
# xóa nhân viên có MaNV = 2 và đếm số nhân viên trong mỗi phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
for row in cursor.fetchall():
    print(row)

('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)