In [ ]:
import sqlite3

In [ ]:
# Kết nối tới cơ sở dữ liệu (tạo mới nếu chưa tồn tại)
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute('''
DROP TABLE IF EXISTS NhanVien;
''')

cursor.execute('''
CREATE TABLE NhanVien (
    MaNV INT PRIMARY KEY,
    HoTen TEXT,
    Tuoi INT,
    PhongBan TEXT
);
''')

# Chèn dữ liệu vào bảng NhanVien
nhan_vien_data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany('''
INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)
''', nhan_vien_data)

In [ ]:

# Truy vấn dữ liệu
def query_db(query):
    cursor.execute(query)
    return cursor.fetchall()

In [ ]:
# In toàn bộ thông tin của nhân viên
print(query_db('SELECT * FROM NhanVien'))

In [ ]:
# Lấy tên và tuổi của nhân viên trong phòng IT
print(query_db("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'"))

In [ ]:
# Tìm nhân viên có độ tuổi lớn hơn 25
print(query_db('SELECT * FROM NhanVien WHERE Tuoi > 25'))

In [ ]:
# Nhân viên lớn tuổi nhất của mỗi phòng ban
print(query_db('''
SELECT PhongBan, HoTen, MAX(Tuoi) AS Tuoi
FROM NhanVien
GROUP BY PhongBan, HoTen
ORDER BY PhongBan;
'''))

In [ ]:
# Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing”
cursor.execute('''
UPDATE NhanVien
SET PhongBan = 'Marketing'
WHERE HoTen = 'Le Van C';
''')

In [ ]:
# Xóa nhân viên có MaNV = 2
cursor.execute('''
DELETE FROM NhanVien
WHERE MaNV = 2;
''')

In [ ]:
# Cho biết mỗi phòng ban có bao nhiêu người
print(query_db('''
SELECT PhongBan, COUNT(*) AS SoNhanVien
FROM NhanVien
GROUP BY PhongBan;
'''))

# Lưu và đóng kết nối
conn.commit()
conn.close()