In [1]:
#cursor.execute("DELETE FROM NhanVien")
import sqlite3

# Kết nối đến SQLite database
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# 1. Tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen VARCHAR(50),
    Tuoi INTEGER,
    PhongBan VARCHAR(50)
)
""")

# Xóa dữ liệu cũ trước khi chèn mới
cursor.execute("DELETE FROM NhanVien")

# 2. Chèn dữ liệu vào bảng NhanVien
nhan_vien_data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany("INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", nhan_vien_data)
conn.commit()

In [2]:
# 3. Lấy toàn bộ thông tin nhân viên
cursor.execute("SELECT * FROM NhanVien")
print("Danh sách toàn bộ nhân viên:")
for row in cursor.fetchall():
    print(row)

Danh sách toàn bộ nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [3]:
# 4. Truy vấn HoTen và Tuoi của nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print("\nNhân viên phòng IT:")
for row in cursor.fetchall():
    print(row)

Nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [4]:
# 5. Tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("\nNhân viên có độ tuổi lớn hơn 25:")
for row in cursor.fetchall():
    print(row)

Nhân viên có độ tuổi lớn hơn 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [5]:
# 6. Nhân viên lớn tuổi nhất của từng phòng ban
cursor.execute("""
SELECT PhongBan, HoTen, MAX(Tuoi)
FROM NhanVien
GROUP BY PhongBan
""")
print("\nNhân viên lớn tuổi nhất của mỗi phòng ban:")
for row in cursor.fetchall():
    print(row)

Nhân viên lớn tuổi nhất của mỗi phòng ban:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [6]:
# 7. Chuyển đổi phòng ban của nhân viên 'Le Van C' sang 'Marketing'
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE MaNV = 3")
conn.commit()
print("\nCập nhật phòng ban của 'Le Van C' thành 'Marketing' thành công.")

Cập nhật phòng ban của 'Le Van C' thành 'Marketing' thành công.

In [7]:
# 8. Xóa nhân viên có MaNV = 2 và đếm số nhân viên mỗi phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("\nĐã xóa nhân viên có MaNV = 2.")

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print("\nSố nhân viên trong từng phòng ban sau khi xóa MaNV = 2:")
for row in cursor.fetchall():
    print(row)

# Đóng kết nối
conn.close()

Đã xóa nhân viên có MaNV = 2.

Số nhân viên trong từng phòng ban sau khi xóa MaNV = 2:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)

In [8]:
# Xác định đường dẫn tuyệt đối của tệp SQLite
import os
db_path = os.path.abspath("nhanvien.db")
print(f"Database path: {db_path}")

Database path: d:\kì 2 n3\SQL\CSDL-cho-KHDL\nhanvien.db