**BTVN CHƯƠNG 1 CÂU 9: Trình bày các bước kết nối đến SQLite trong Python và thực thi các câu lệnh trên bằng Python**

**24 Nguyễn Thành Công Lợi_22174600063_DHKL16A2HN**

**Bước 1: Kết nối đến SQLite**

Sử dụng sqlite3 có sẵn trong Python để tạo hoặc kết nối đến một tệp cơ sở dữ liệu

In [18]:
import sqlite3

In [19]:
conn = sqlite3.connect('nhanvien.db')

**Bước 2: Tạo con trỏ (cursor)**

Dùng cursor để thực thi các câu lệnh SQL

In [20]:
cursor = conn.cursor()

**Bước 3: Thực thi các câu lệnh SQL**

Sử dụng các lệnh như execute() hoặc executemany()

In [21]:
#1. Tạo bảng
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT,
        Tuoi INTEGER,
        PhongBan TEXT
    )
''')

In [22]:
#2. Chèn các bản ghi vào bảng NhanVien
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]
cursor.executemany('INSERT OR IGNORE INTO NhanVien VALUES (?, ?, ?, ?)', data)

In [23]:
#3. Lấy toàn bộ thông tin
cursor.execute('SELECT * FROM NhanVien')
all_records = cursor.fetchall()
print("Toàn bộ thông tin nhân viên:")
for record in all_records:
    print(record)

Toàn bộ thông tin nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [24]:
#4. Lấy HoTen và Tuoi của nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
it_employees = cursor.fetchall()
print("\nNhân viên phòng IT:")
for employee in it_employees:
    print(employee)

Nhân viên phòng IT:
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [25]:
#5. Tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute('SELECT * FROM NhanVien WHERE Tuoi > 25')
older_employees = cursor.fetchall()
print("\nNhân viên lớn hơn 25 tuổi:")
for employee in older_employees:
    print(employee)

Nhân viên lớn hơn 25 tuổi:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [26]:
#6. Nhân viên lớn tuổi nhất của mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, Tuoi
    FROM NhanVien
    WHERE Tuoi IN (
        SELECT MAX(Tuoi)
        FROM NhanVien
        GROUP BY PhongBan
    )
''')
oldest_in_department = cursor.fetchall()
print("\nNhân viên lớn tuổi nhất mỗi phòng ban:")
for record in oldest_in_department:
    print(record)

Nhân viên lớn tuổi nhất mỗi phòng ban:
('Nhan Su', 'Le Thi G', 27)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)
('IT', 'Hoang Thi O', 27)

In [27]:
#7. Chuyển đổi phòng ban của nhân viên "Le Van C" sang "Marketing"
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()
print("\nĐã chuyển đổi phòng ban của 'Le Van C' sang Marketing.")

Đã chuyển đổi phòng ban của 'Le Van C' sang Marketing.

In [28]:
#8. Xóa nhân viên có MaNV = 2 và đếm số lượng nhân viên trong mỗi phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
cursor.execute("SELECT PhongBan, COUNT(*) AS SoLuongNhanVien FROM NhanVien GROUP BY PhongBan")
employees_per_department = cursor.fetchall()
print("\nSố lượng nhân viên trong mỗi phòng ban sau khi xóa nhân viên MaNV = 2:")
for record in employees_per_department:
    print(record)

Số lượng nhân viên trong mỗi phòng ban sau khi xóa nhân viên MaNV = 2:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)

**Bước 4: Cam kết thay đổi (commit)**

Với các câu lệnh sửa đổi dữ liệu như INSERT, UPDATE, DELETE, cần commit để lưu lại các thay đổi vào cơ sở dữ liệu

In [29]:
conn.commit()

**Bước 5: Đóng kết nối**

Sau khi hoàn tất công việc, đóng kết nối với cơ sở dữ liệu bằng conn.close()

In [30]:
conn.close()