# Thực hành chương I

In [25]:
import sqlite3

# Kết nối tới SQLite
conn = sqlite3.connect("/Users/nguyenxuanty/Documents/Nam_3_ki_2/SQL_DS/nhanvien.db")
cursor = conn.cursor()

**1️⃣  Tạo bảng có tên "NhanVien"**

In [26]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
""")

**2️⃣  Chèn dữ liệu nhân viên**

In [27]:

nhan_vien_data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# Sử dụng INSERT OR IGNORE để tránh lỗi trùng lặp
cursor.executemany("INSERT OR IGNORE INTO NhanVien VALUES (?, ?, ?, ?)", nhan_vien_data)

**3️⃣ Truy vấn toàn bộ nhân viên**

In [28]:

cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
print("\n Danh sách nhân viên:")
for row in rows:
    print(row)

 Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

**4️⃣ Truy vấn HoTen, Tuoi của các nhân viên thuộc phòng IT**

In [29]:

cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
print("\n Nhân viên phòng IT:")
for row in rows:
    print(row)

 Nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

**5️⃣ Truy vấn nhân viên có tuổi > 25**

In [30]:

cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()
print("\n Nhân viên có tuổi > 25:")
for row in rows:
    print(row)

 Nhân viên có tuổi > 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

**6️⃣ Truy vấn nhân viên lớn tuổi nhất trong từng phòng ban**

In [31]:


cursor.execute("""
SELECT PhongBan, HoTen, Tuoi 
FROM NhanVien 
WHERE (PhongBan, Tuoi) IN (
    SELECT PhongBan, MAX(Tuoi) FROM NhanVien GROUP BY PhongBan
)
""")
rows = cursor.fetchall()
print("\n Nhân viên lớn tuổi nhất trong từng phòng ban:")
for row in rows:
    print(row)

 Nhân viên lớn tuổi nhất trong từng phòng ban:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

**7️⃣ Cập nhật phòng ban cho nhân viên "Le Van C"**

- Kiểm tra thông tin nhân viên 'Le Van C' có trùng lặp không. Nếu trùng lặp sẽ khiến cho toàn bộ nhân viên tên 'Le Van C' chuyển phòng ban từ 'IT' sang 'Marketing', nếu không trùng lặp thì thực thi lệnh như bình thường. 
- Đề xuất: Nên có MaNV(Khóa chính) để tránh sự trùng lặp.

In [32]:
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
rows = cursor.fetchall()
print("\n Những nhân viên có tên 'Le Van C' :")
for row in rows:
    print(row)

 Những nhân viên có tên 'Le Van C' :
(3, 'Le Van C', 28, 'IT')

- Không xuất hiện trùng lặp, tiếp tục thực thi lệnh.

In [33]:

cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
rows = cursor.fetchall()
print("\n Thông tin nhân viên 'Le Van C' sau khi cập nhập:")
for row in rows:
    print(row)

 Thông tin nhân viên 'Le Van C' sau khi cập nhập:
(3, 'Le Van C', 28, 'Marketing')

**8️⃣  Xóa nhân viên có "MaNV = 2" và đếm số lượng nhân viên trong mỗi phòng ban**

In [34]:
# Xóa nhân viên có "MaNV = 2"

cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("\n Đã xóa nhân viên có MaNV = 2.")

 Đã xóa nhân viên có MaNV = 2.

In [35]:
# Đếm số lượng nhân viên trong mỗi phòng ban

cursor.execute("""
SELECT PhongBan, COUNT(*) 
FROM NhanVien 
GROUP BY PhongBan
""")
rows = cursor.fetchall()

print("\n Số lượng nhân viên trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Số nhân viên: {row[1]}")

 Số lượng nhân viên trong mỗi phòng ban:
Phòng ban: IT, Số nhân viên: 3
Phòng ban: Ke Toan, Số nhân viên: 4
Phòng ban: Marketing, Số nhân viên: 4
Phòng ban: Nhan Su, Số nhân viên: 3

In [36]:
# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

**9️⃣ Các bước kết nối và làm việc với SQLite trong Python**

- `Bước 1`: Kết nối đến cơ sở dữ liệu
    - Sử dụng sqlite3.connect("database_name.db").
- `Bước 2`: Tạo con trỏ (cursor)
    - Sử dụng conn.cursor(): Con trỏ (cursor) là đối tượng giúp bạn thực thi các câu lệnh SQL. Mọi thao tác truy vấn, thay đổi dữ liệu đều phải thông qua con trỏ.
- `Bước 3`: Thực thi câu lệnh SQL
    - Tạo bảng (CREATE TABLE): CREATE TABLE IF NOT EXISTS
    - Chèn dữ liệu (INSERT INTO)
    - Truy vấn dữ liệu (SELECT)
    - Cập nhật dữ liệu (UPDATE)
    - Xóa dữ liệu (DELETE)
    - Dùng cursor.execute() cho một câu lệnh SQL đơn.
    - Dùng cursor.executemany() cho nhiều câu lệnh SQL.
- `Bước 4`: Lưu thay đổi
    - Gọi conn.commit() để lưu các thay đổi vào cơ sở dữ liệu.
- `Bước 5`: Đóng kết nối
    - Sử dụng conn.close() để đóng kết nối sau khi hoàn thành.

- `Lưu ý`:
    - fetchall(): Trả về tất cả các kết quả từ câu lệnh SELECT dưới dạng danh sách.
    - execute(): Dùng cho các câu lệnh SQL như INSERT, UPDATE, DELETE, SELECT.
    - commit(): Dùng để lưu lại các thay đổi khi thay đổi dữ liệu.