Câu 1:Tạo bảng danh sách nhân viên

In [22]:
import sqlite3
#kết nối đến SQLite
conn = sqlite3.connect("company.db")#hết nối đến SQLite

cursor.execute("""
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT,
        Tuoi INTEGER,
        PhongBan TEXT
    )
""")

conn.commit()#lưu các thay đổi vào dữ liệu
conn.close()#Đóng kết nối với cơ sở dữ liệu

Câu 2: Chèn các bản ghi

In [ ]:
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT'),
]
conn = sqlite3.connect("company.db")
cursor = conn.cursor()
cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)
conn.commit()
conn.close()

In [ ]:
Câu 3:Lấy thông tin của nhân viên trong bảng

In [26]:
conn = sqlite3.connect("company.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Câu 4: Truy vấn HoTen,Tuoi của các nhân viên trong phòng IT

In [27]:
conn = sqlite3.connect("company.db")
cursor = conn.cursor()
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
print(rows)

[('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27)]

Câu 5: Tìm nhân viên có độ tuổi lớn hơn 25

In [28]:
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")

rows = cursor.fetchall()  

print(rows)

[(1, 'Nguyen Van A', 30, 'Ke Toan'), (3, 'Le Van C', 28, 'Marketing'), (4, 'Pham Thi D', 32, 'Ke Toan'), (5, 'Vu Van E', 26, 'IT'), (6, 'Nguyen Thi F', 29, 'Marketing'), (7, 'Le Thi G', 27, 'Nhan Su'), (8, 'Hoang Van H', 35, 'Ke Toan'), (9, 'Pham Van I', 33, 'Marketing'), (11, 'Dang Thi K', 31, 'Nhan Su'), (12, 'Nguyen Van L', 28, 'Ke Toan'), (13, 'Tran Thi M', 26, 'Marketing'), (14, 'Pham Van N', 30, 'Nhan Su'), (15, 'Hoang Thi O', 27, 'IT')]

Câu 6: Cho Biết nhân viên lớn tuổi nhất của các phòng ban

In [29]:
cursor.execute("SELECT PhongBan, HoTen, MAX(Tuoi) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print(rows)

[('IT', 'Hoang Thi O', 27), ('Ke Toan', 'Hoang Van H', 35), ('Marketing', 'Pham Van I', 33), ('Nhan Su', 'Dang Thi K', 31)]

Câu 7: Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing”

In [ ]:
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
#không có lỗi khi thực hiện

Câu 8:Xóa nhân viên có “MaSV = 2” rồi cho biết mỗi phòng ban có bao nhiêu người.

In [20]:
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print(rows)

[('IT', 3), ('Ke Toan', 4), ('Marketing', 4), ('Nhan Su', 3)]