In [1]:
import sqlite3

# Kết nối đến SQLite (tạo database nếu chưa có)
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

In [2]:
# 1. Tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY AUTOINCREMENT,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
""")

In [7]:
nhan_vien_data = [
    ('Nguyen Van A', 30, 'Ke Toan'),
    ('Tran Thi B', 25, 'Nhan Su'),
    ('Le Van C', 28, 'IT'),
    ('Pham Thi D', 32, 'Ke Toan'),
    ('Vu Van E', 26, 'IT'),
    ('Nguyen Thi F', 29, 'Marketing'),
    ('Le Thi G', 27, 'Nhan Su'),
    ('Hoang Van H', 35, 'Ke Toan'),
    ('Pham Van I', 33, 'Marketing'),
    ('Tran Van J', 24, 'IT'),
    ('Dang Thi K', 31, 'Nhan Su'),
    ('Nguyen Van L', 28, 'Ke Toan'),
    ('Tran Thi M', 26, 'Marketing'),
    ('Pham Van N', 30, 'Nhan Su'),
    ('Hoang Thi O', 27, 'IT')
]

# Sửa câu lệnh INSERT để không chèn cột MaNV (SQLite tự động tăng giá trị)
cursor.executemany("INSERT INTO NhanVien (HoTen, Tuoi, PhongBan) VALUES (?, ?, ?)", nhan_vien_data)
conn.commit()

In [8]:
# 3. Lấy toàn bộ thông tin nhân viên
cursor.execute("SELECT * FROM NhanVien")
print("Danh sách nhân viên:", cursor.fetchall())

Danh sách nhân viên: [(1, 'Nguyen Van A', 30, 'Ke Toan'), (2, 'Tran Thi B', 25, 'Nhan Su'), (3, 'Le Van C', 28, 'IT'), (4, 'Pham Thi D', 32, 'Ke Toan'), (5, 'Vu Van E', 26, 'IT'), (6, 'Nguyen Thi F', 29, 'Marketing'), (7, 'Le Thi G', 27, 'Nhan Su'), (8, 'Hoang Van H', 35, 'Ke Toan'), (9, 'Pham Van I', 33, 'Marketing'), (10, 'Tran Van J', 24, 'IT'), (11, 'Dang Thi K', 31, 'Nhan Su'), (12, 'Nguyen Van L', 28, 'Ke Toan'), (13, 'Tran Thi M', 26, 'Marketing'), (14, 'Pham Van N', 30, 'Nhan Su'), (15, 'Hoang Thi O', 27, 'IT'), (16, 'Nguyen Van A', 30, 'Ke Toan'), (17, 'Tran Thi B', 25, 'Nhan Su'), (18, 'Le Van C', 28, 'IT'), (19, 'Pham Thi D', 32, 'Ke Toan'), (20, 'Vu Van E', 26, 'IT'), (21, 'Nguyen Thi F', 29, 'Marketing'), (22, 'Le Thi G', 27, 'Nhan Su'), (23, 'Hoang Van H', 35, 'Ke Toan'), (24, 'Pham Van I', 33, 'Marketing'), (25, 'Tran Van J', 24, 'IT'), (26, 'Dang Thi K', 31, 'Nhan Su'), (27, 'Nguyen Van L', 28, 'Ke Toan'), (28, 'Tran Thi M', 26, 'Marketing'), (29, 'Pham Van N', 30, 'Nhan Su'), (30, 'Hoang Thi O', 27, 'IT'), (31, 'Nguyen Van A', 30, 'Ke Toan'), (32, 'Tran Thi B', 25, 'Nhan Su'), (33, 'Le Van C', 28, 'IT'), (34, 'Pham Thi D', 32, 'Ke Toan'), (35, 'Vu Van E', 26, 'IT'), (36, 'Nguyen Thi F', 29, 'Marketing'), (37, 'Le Thi G', 27, 'Nhan Su'), (38, 'Hoang Van H', 35, 'Ke Toan'), (39, 'Pham Van I', 33, 'Marketing'), (40, 'Tran Van J', 24, 'IT'), (41, 'Dang Thi K', 31, 'Nhan Su'), (42, 'Nguyen Van L', 28, 'Ke Toan'), (43, 'Tran Thi M', 26, 'Marketing'), (44, 'Pham Van N', 30, 'Nhan Su'), (45, 'Hoang Thi O', 27, 'IT')]

In [9]:
# 4. Truy vấn HoTen và Tuoi của nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print("Nhân viên phòng IT:", cursor.fetchall())

Nhân viên phòng IT: [('Le Van C', 28), ('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27), ('Le Van C', 28), ('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27), ('Le Van C', 28), ('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27)]

In [10]:
# 5. Tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("Nhân viên trên 25 tuổi:", cursor.fetchall())

Nhân viên trên 25 tuổi: [(1, 'Nguyen Van A', 30, 'Ke Toan'), (3, 'Le Van C', 28, 'IT'), (4, 'Pham Thi D', 32, 'Ke Toan'), (5, 'Vu Van E', 26, 'IT'), (6, 'Nguyen Thi F', 29, 'Marketing'), (7, 'Le Thi G', 27, 'Nhan Su'), (8, 'Hoang Van H', 35, 'Ke Toan'), (9, 'Pham Van I', 33, 'Marketing'), (11, 'Dang Thi K', 31, 'Nhan Su'), (12, 'Nguyen Van L', 28, 'Ke Toan'), (13, 'Tran Thi M', 26, 'Marketing'), (14, 'Pham Van N', 30, 'Nhan Su'), (15, 'Hoang Thi O', 27, 'IT'), (16, 'Nguyen Van A', 30, 'Ke Toan'), (18, 'Le Van C', 28, 'IT'), (19, 'Pham Thi D', 32, 'Ke Toan'), (20, 'Vu Van E', 26, 'IT'), (21, 'Nguyen Thi F', 29, 'Marketing'), (22, 'Le Thi G', 27, 'Nhan Su'), (23, 'Hoang Van H', 35, 'Ke Toan'), (24, 'Pham Van I', 33, 'Marketing'), (26, 'Dang Thi K', 31, 'Nhan Su'), (27, 'Nguyen Van L', 28, 'Ke Toan'), (28, 'Tran Thi M', 26, 'Marketing'), (29, 'Pham Van N', 30, 'Nhan Su'), (30, 'Hoang Thi O', 27, 'IT'), (31, 'Nguyen Van A', 30, 'Ke Toan'), (33, 'Le Van C', 28, 'IT'), (34, 'Pham Thi D', 32, 'Ke Toan'), (35, 'Vu Van E', 26, 'IT'), (36, 'Nguyen Thi F', 29, 'Marketing'), (37, 'Le Thi G', 27, 'Nhan Su'), (38, 'Hoang Van H', 35, 'Ke Toan'), (39, 'Pham Van I', 33, 'Marketing'), (41, 'Dang Thi K', 31, 'Nhan Su'), (42, 'Nguyen Van L', 28, 'Ke Toan'), (43, 'Tran Thi M', 26, 'Marketing'), (44, 'Pham Van N', 30, 'Nhan Su'), (45, 'Hoang Thi O', 27, 'IT')]

In [11]:
# 6. Nhân viên lớn tuổi nhất của mỗi phòng ban
cursor.execute("""
    SELECT n1.PhongBan, n1.HoTen, n1.Tuoi
    FROM NhanVien n1
    JOIN (
        SELECT PhongBan, MAX(Tuoi) AS MaxTuoi FROM NhanVien GROUP BY PhongBan
    ) n2
    ON n1.PhongBan = n2.PhongBan AND n1.Tuoi = n2.MaxTuoi
""")
print("Nhân viên lớn tuổi nhất mỗi phòng ban:", cursor.fetchall())

Nhân viên lớn tuổi nhất mỗi phòng ban: [('IT', 'Le Van C', 28), ('Ke Toan', 'Hoang Van H', 35), ('Marketing', 'Pham Van I', 33), ('Nhan Su', 'Dang Thi K', 31), ('IT', 'Le Van C', 28), ('Ke Toan', 'Hoang Van H', 35), ('Marketing', 'Pham Van I', 33), ('Nhan Su', 'Dang Thi K', 31), ('IT', 'Le Van C', 28), ('Ke Toan', 'Hoang Van H', 35), ('Marketing', 'Pham Van I', 33), ('Nhan Su', 'Dang Thi K', 31)]

In [12]:
# 7. Cập nhật phòng ban của "Le Van C" sang "Marketing"
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE MaNV = 3")
conn.commit()
print("Cập nhật phòng ban cho Le Van C thành công!")

Cập nhật phòng ban cho Le Van C thành công!

In [13]:
# 8. Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("Đã xóa nhân viên có MaNV = 2")

# Đếm số lượng nhân viên theo từng phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print("Số nhân viên mỗi phòng ban:", cursor.fetchall())

Đã xóa nhân viên có MaNV = 2
Số nhân viên mỗi phòng ban: [('IT', 11), ('Ke Toan', 12), ('Marketing', 10), ('Nhan Su', 11)]

In [14]:
# Đóng kết nối
conn.close()