In [1]:
import sqlite3

# Kết nối đến cơ sở dữ liệu SQLite (hoặc tạo mới nếu chưa có)
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
);
""")

# Dữ liệu cần chèn vào bảng
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# Chèn dữ liệu vào bảng
cursor.executemany("INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", data)

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Dữ liệu đã được chèn thành công vào bảng NhanVien.")

Dữ liệu đã được chèn thành công vào bảng NhanVien.

In [4]:
# 3. Lấy toàn bộ thông tin của nhân viên trong bảng NhanVien
# Kết nối đến cơ sở dữ liệu
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

print("3. Danh sách toàn bộ nhân viên:")
cursor.execute("SELECT * FROM NhanVien")
for row in cursor.fetchall():
    print(row)

3. Danh sách toàn bộ nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [5]:
# 4. Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT
print("\n4. Danh sách nhân viên phòng IT:")
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
for row in cursor.fetchall():
    print(row)

4. Danh sách nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [6]:
# 5. Tìm nhân viên có độ tuổi lớn hơn 25
print("\n5. Nhân viên có tuổi > 25:")
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
for row in cursor.fetchall():
    print(row)

5. Nhân viên có tuổi > 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [7]:
# 6. Cho biết nhân viên lớn tuổi nhất của các PhongBan
print("\n6. Nhân viên lớn tuổi nhất trong mỗi phòng ban:")
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien 
    WHERE (PhongBan, Tuoi) IN (
        SELECT PhongBan, MAX(Tuoi) 
        FROM NhanVien 
        GROUP BY PhongBan
    )
""")
for row in cursor.fetchall():
    print(row)

6. Nhân viên lớn tuổi nhất trong mỗi phòng ban:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [8]:
# 7. Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing”
print("\n7. Cập nhật phòng ban của Le Van C:")
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()
print("Đã cập nhật.")

# Kiểm tra lại thông tin
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
print(cursor.fetchone())

7. Cập nhật phòng ban của Le Van C:
Đã cập nhật.
(3, 'Le Van C', 28, 'Marketing')

In [9]:
# 8. Xóa nhân viên có MaNV = 2 và đếm số nhân viên trong mỗi phòng ban
print("\n8. Xóa nhân viên có MaNV = 2")
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()

print("Số nhân viên trong mỗi phòng ban sau khi xóa:")
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
for row in cursor.fetchall():
    print(row)

# Đóng kết nối
conn.close()

8. Xóa nhân viên có MaNV = 2
Số nhân viên trong mỗi phòng ban sau khi xóa:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)