In [1]:
import sqlite3

In [ ]:
data = sqlite3.connect('45_TranDuctrung.db')
data

In [3]:
cursor = data.cursor()

# Chạy một truy vấn SQL
cursor.execute("SELECT * FROM NhanVien")

hiển thị thông tin toàn bộ nhân viên

In [4]:
# Lấy kết quả
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

truy vấn họ tên, tuổi của các nhân viên phòng ban IT

In [5]:
cursor.execute("SELECT * FROM NhanVien WHERE PhongBan = 'IT'")
for row in cursor.fetchall():
    print(row)

(3, 'Le Van C', 28, 'IT')
(5, 'Vu Van E', 26, 'IT')
(10, 'Tran Van J', 24, 'IT')
(15, 'Hoang Thi O', 27, 'IT')

tìm nhân viên có độ tuổi lớn hơn 25

In [6]:
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
for row in cursor.fetchall():
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Tìm nhân viên lớn tuổi nhất của từng phòng ban

In [9]:
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien
    WHERE Tuoi IN
    (SELECT MAX(Tuoi) FROM NhanVien GROUP BY PhongBan)
    """)
for row in cursor.fetchall():
    print(row)

('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)
('Ke Toan', 'Nguyen Van L', 28)

Cập nhật phòng ban của nhân viên "Le Van C" thành "Marketing"

In [11]:
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C '")
data.commit()
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
print("\nThông tin sau khi cập nhật phòng ban của 'Le Van C':")
for row in cursor.fetchall():
    print(row)

Thông tin sau khi cập nhật phòng ban của 'Le Van C':
(3, 'Le Van C', 28, 'IT')

Xóa nhân viên có MaSV = 2 và đếm số lượng nhân viên từng phòng ban

In [12]:
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
data.commit()

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print("\nSố lượng nhân viên theo phòng ban:")
for row in cursor.fetchall():
    print(row)

Số lượng nhân viên theo phòng ban:
('IT', 4)
('Ke Toan', 4)
('Marketing', 3)
('Nhan Su', 3)